@model HtmlBodyPartCKEditorClassicSettingsViewModel

<div class="form-group type-part-editor type-part-editor-ckeditorclassic">
    <select asp-for="SelectedConfigurationName" asp-items="Model.Configurations" class="form-control col-sm-6">
    </select>
</div>
